* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #d6e2f0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

#qr-container {
  display: grid;
  max-width: min-content;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: fit-content;
  position: absolute;
  padding: 0.9rem;
  margin: auto;
  inset: 0;
}
.qr-code-img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 18px;
  border-radius: 17px;
  text-align: center;
  margin: 0 1em;
}

.qr-code-img img {
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
}

h2 {
  text-align: center;
  padding: 0 1.3rem;
  color: #1f3251;
}

p {
  font-size: 15px;
  text-align: center;
  color: #7b879d;
  padding: 1rem 3rem;
}

/* 
Media Queries
 */
