@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-menu-mobile-shadow {
    box-shadow: 0 1rem 2rem 0rem rgba(26, 27, 27, 0.25);
  }

  .show-mob-menu {
    animation: show-down 0.4s ease-in-out forwards;
  }

  .bg-desktop {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url('./images/bg-pattern-intro-desktop.svg'),
      linear-gradient(to right, #ff8f70 10%, #ff394d 70%);

    background-size: 3175px;
    background-position-x: 25%;
    background-position-y: 52%;
    background-repeat: no-repeat;
  }

  .bg-mobile {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url('./images/bg-pattern-intro-mobile.svg'),
      linear-gradient(to bottom, #ff8f70, #ff4a59 70%);

    background-size: 1324px;
    background-position-x: 35%;
    background-position-y: 52%;
    background-repeat: no-repeat;
  }

  .arrow-hover {
    transform-origin: center center;
    animation: arrow-rotate-up forwards 0.4s ease-in-out;
  }

  .show-submenu {
    display: block;
  }

  .hidden-submenu {
    transition: all 0.4s ease-in-out;
  }

  .hidden-menu-content {
    box-shadow: 0 1rem 2rem 0rem rgba(26, 27, 27, 0.35);
    transition: all 0.2s ease-in-out;
  }

  .footer-list > li:hover {
    text-decoration: underline;
  }

  .section-gradient {
    background-image: linear-gradient(to right, #2c2d3f, #3f4164);
  }

  .section-bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url('./images/bg-pattern-circles.svg');
    background-size: 1014px;
    background-position-x: -220px;
    background-position-y: -525px;
    background-repeat: no-repeat;
  }

  .section-bg-mob {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url('./images/bg-pattern-circles.svg');
    background-size: 160%;
    background-position-x: 50%;
    background-position-y: -240px;
    background-repeat: no-repeat;
  }

  @keyframes arrow-rotate-up {
    0% {
    }
    100% {
      transform: rotateX(180deg);
    }
  }

  @keyframes show-down {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      top: 18%;
    }
  }

  [class*='__button'] {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    /*border-radius: 2rem;*/
    padding: 0.6rem 1.4rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
  }

  [class*='__button.round'] {
    border-radius: 2rem;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
  }

  [class*='__button.round.border'] {
    border-color: white;
  }

  [class*='__button.round.border.wider'] {
    padding: 0.6rem 2.5rem;
  }

  [class*='_button.round.border']:hover {
    background-color: white;
    color: #ff525d;
  }

  [class*='__button.round.active'] {
    background-color: white;
    color: #ff525d;
  }

  [class*='__button.round.active.wider'] {
    padding: 0.6rem 2.5rem;
  }

  [class*='__button.round.active.wider.spec'] {
    color: white;
    background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  }

  [class*='__button.round.active']:hover {
    background-color: #ff7a85;
    color: white;
  }
}
