@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  @apply mobile:h-[4740px] desktop:h-[3190px] overflow-x-hidden bg-white;
}

a {
  @apply mobile:text-white mobile:no-underline cursor-pointer  text-white hover:font-bold;
}
.box {
  @apply mobile:bg-[#e2e8f0] mobile:no-underline mobile:p-[2rem] mt-[0.2rem] flex flex-col bg-white py-[1.5rem] px-[0.5rem];
}
.box a {
  @apply text-extreme-gray mobile:text-[#374550] hover:text-very-dark-gray-blue mobile:text-very-dark-black-blue no-underline hover:font-bold hover:transition-colors hover:duration-100;
}
h6 {
  @apply mb-[2rem] text-[1rem] font-medium text-white;
}
ul,
h6 {
  @apply mobile:text-center  mobile:my-8 mobile:flex mobile:flex-col mobile:gap-4;
}
ul li a {
  @apply text-[#c8c9cc] hover:cursor-pointer hover:underline;
}

.mobile-img {
  background-image: url('images/bg-pattern-intro-mobile.svg'),
    linear-gradient(to bottom, #ff8f70, #ff4a59 70%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-size: 1324px;
  background-position-x: 35%;
  background-position-y: 52%;
  background-repeat: no-repeat;
}
