@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.set-w {
  width: 220px;
}
.font-fix {
  font-size: 0.55rem;
}
.left-messages {
  line-height: normal;
}
.attribution {
  opacity: 0.7;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution:hover {
  opacity: 1;
  margin-bottom: 60px;
}

@layer components {
  .bg {
    @apply desktop:max-w-[40%] mobile:max-w-[54%] absolute h-[78%] w-[480px] from-[#cc41ff]  to-[#983bfe] lg:h-[800px] lg:w-[700px];
  }
}
