@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Lexend+Deca&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@400;700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@400;700&family=Space+Mono&display=swap');

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  text-align: left;
}

.name {
  text-transform: uppercase;
}
.number {
  font-size: 20px;
  font-weight: bold;
}
.img {
  mix-blend-mode: multiply;
}
.div-img {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.attribution {
  opacity: 0.4;
}
.attribution:hover {
  opacity: 1;
  margin-bottom: 60px;
}
