@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .card-bg {
        
    }

    .header-bg {
        background-image: url('./images/bg-pattern-card.svg') ;
        /*background-size: cover;*/
    }

    .card-shadow {
        box-shadow: 6px 6px 16px 0 rgba(0,0,0,0.15);
    }
} 

/*
.colors {
    color: #19a2ae;
    color: #19a2ae;
    color: #2d3248;
    color: #6a6f81;

    color: #969696;
}
*/